body {
  font-family: "Poppins", sans-serif;
}
/* Navigation CSS*/
#navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0px 0%;
  width: 100%;
  background-color: rgb(41, 102, 183);
}

#navigation {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: space-evenly;
}
#navigation p {
  cursor: pointer;
  text-decoration: none;
}
.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
}
.menu a {
  margin: 15px;
  cursor: pointer;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 16pt;
}

/* intro Grid CSS */

#introGrid {
  margin: 0px 5%;
  display: grid;
  min-height: 500px;
  height: 70vh;
  grid-template-rows: 45% 55%;
  grid-template-columns: 45% 55%;
  grid-template-areas:
    "avatar presentation"
    "avatar more";
}

#avatar {
  grid-area: avatar;
  background-image: url("../images/Me.png");
}

#presentation {
  grid-area: presentation;
  background-color: white;
  flex-direction: column;
  justify-content: space-around;
}

#more {
  grid-area: more;
  background-color: white;
  justify-content: space-around;
  flex-direction: column;
}

.introGridArea {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  display: flex;
  position: relative;
}

.introGridArea img {
  height: 120px;
  width: fit-content;
}

.introGridArea h2 {
  font-size: 30px;
  margin: 0px 0px;
  color: rgb(41, 102, 183);
  align-items: flex-end;
}

.introGridArea p {
  text-align: center;
  font-family: fantasy;
  font-style: italic;
  font-size: 16pt;
}

/* main Grid CSS */

#mainGrid {
  height: 550px;
  margin: 100px 5%;
  display: grid;
  grid-template-rows: 25% 25% 25% 25%;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-areas:
    "aboutme txt txt txt"
    "work project1 project1 project2"
    "work project1 project1 project3"
    "contact ct1 ct2 ct3";
}

#aboutme {
  grid-area: aboutme;
  background-color: white;
  display: flex;
}

#txt {
  grid-area: txt;
}

#work {
  grid-area: work;
  background-color: white;
  display: flex;
}

#project1 {
  grid-area: project1;
  background-image: url("../images/Horiseon-screenshot.png");
  width: 100%;
  height: 100%;
  background-size: cover;
}

#project2 {
  grid-area: project2;
  background-image: url("../images/coming-soon-gif-13.gif");
  width: 100%;
  height: 100%;
  background-size: cover;
}

#project3 {
  grid-area: project3;
  background-image: url("../images/coming-soon-neon-sign-brick-wall-background-87865865.jpeg");
  width: 100%;
  height: 100%;
  background-size: cover;
}

#contact {
  grid-area: contact;
  background-color: white;
  display: flex;
}

#ct1 {
  grid-area: ct1;
  display: flex;
  align-items: center;
}
#ct2 {
  grid-area: ct2;
}

#ct3 {
  grid-area: ct3;
}

#ct1 img {
  height: 50px;
  width: 50px;
  padding: 15px;
}
.mainGridArea {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;
}

.mainGridArea h2 {
  font-size: 80x;
  margin: 0px 0px;
  color: rgb(41, 102, 183);
  align-items: center;
  justify-content: center;
}

.linkedIn {
  width: 200px;
}

.github {
  width: 150px;
}

.mainGridArea p {
  font-size: 14pt;
  font-family: "Poppins", sans-serif;
}
/* .mainGridArea .heading {
  grid-row: 1/2;
} */
/* .sidetitle {
  background-color: rgba(51, 111, 240, 0.7); */
/* } */
/* #bedroom {
  grid-area: bedroom;
  background-image: url("../images/beds@2x.png");
}

#couches {
  grid-area: couches;
  background-image: url("../images/couch@2x.png");
}

#patio {
  grid-area: patio;
  background-image: url("../images/patio@2x.png");
}

#desks {
  grid-area: desks;
  background-image: url("../images/desks@2x.png");
}

.categoryGridArea {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;
} */

.heading {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 15px;
  height: 25px;
  color: white;
  font-size: 18px;
  border-bottom: 5px solid rgb(41, 102, 183);
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.heading a {
  color: white;
  text-decoration: none;
}

/* Navigation CSS */
/* CHECK OUT THIS CODE BELOW IF YOU WANT TO GET A REFRESHER ON FLEX */

.highlight {
  color: rgb(41, 102, 183);
  font-weight: 700;
}

/* Typography CSS */

h2 {
  font-size: 30px;
  margin: 0px 0px;
  color: rgb(41, 102, 183);
  display: flex;
  font-family: "Courier New", Courier, monospace;
}

h3 {
  font-size: 28px;
  font-weight: 300;
  margin: 0px 0px;
  text-align: center;
}

h4 {
  color: white;
  font-weight: 400;
  font-size: 22px;
}

#headline p {
  max-width: 350px;
  font-size: 16px;
  font-weight: 300;
  margin: 0px 0px;
  color: #636364;
}

.text2 {
  color: rgb(41, 102, 183);
  font-family: "Courier New", Courier, monospace;
  text-decoration: none;
  font-weight: bold;
  font-style: italic;
}

@media only screen and (max-width: 1000px) {
  #navigation {
    display: none;
  }
  .icons {
    margin-left: auto;
  }
}

/* @media only screen and (max-width: 600px) {
  #headline {
    position: static;
    margin: 20px;
  }
  #heroGrid {
    grid-template-areas:
      "featuredProduct featuredProduct"
      "secondaryProduct CTA";
  }
  #categoryGrid {
    grid-template-rows: 300px 300px 300px 300px 300px;
    grid-template-columns: 80vw;
    grid-template-areas:
      "bookcases"
      "bedroom"
      "patio"
      "couches"
      "desks"; */
/* }
} */

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}

h1 {
  color: white;
  font-size: 30pt;
  font-family: "Courier New", Courier, monospace;
}
