body {
  font-family: "Poppins", sans-serif;
}
/* Navigation CSS*/
#navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px 5%;
  background-color: rgb(0, 123, 255);
}

#navigation {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: space-evenly;
}
#navigation p {
  cursor: pointer;
  text-decoration: none;
}
.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
}
.menu a {
  margin: 15px;
  cursor: pointer;
  color: lightblue;
}

/* intro Grid CSS */

#introGrid {
  margin: 0px 5%;
  display: grid;
  min-height: 500px;
  height: 70vh;
  grid-template-rows: 45% 55%;
  grid-template-columns: 45% 55%;
  grid-template-areas:
    "avatar presentation"
    "avatar more";
}

#avatar {
  grid-area: avatar;
  background-image: url("../images/Me.png");
}

#presentation {
  grid-area: presentation;
  background-color: white;
  flex-direction: column;
  justify-content: space-around;
}

#more {
  grid-area: more;
  background-color: white;
  justify-content: space-around;
  flex-direction: column;
}

.introGridArea {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  display: flex;
  position: relative;
}

.introGridArea img {
  height: 120px;
  width: fit-content;
}

.introGridArea h2 {
  font-size: 30px;
  margin: 0px 0px;
  color: #ff6200;
  align-items: flex-end;
}

.introGridArea p {
  text-align: center;
}

/* main Grid CSS */

/* .subHeading {
  text-align: center;
  border-bottom: 2px solid black;
  width: 300px;
  margin: 50px auto;
} */

#mainGrid {
  margin: 100px 5%;
  display: grid;
  grid-template-rows: 25% 25% 25% 25%;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-areas:
    "about text text text"
    "work project1 project1 project2"
    "work project1 project1 project3"
    "contact ct1 ct2 ct3";
}

#about {
  grid-area: about;
  background-color: white;
}

#text {
  grid-area: text;
}

#work {
  grid-area: work;
  background-color: white;
}

#project1 {
  grid-area: project1;
  background-image: url("../images/Horiseon-screenshot.png");
  width: 100%;
  height: 100%;
  background-size: cover;
}

#project2 {
  grid-area: project2;
  background-image: url("../images/coming-soon-gif-13.gif");
  width: 100%;
  height: 100%;
  background-size: cover;
}

#project3 {
  grid-area: project3;
  background-image: url("../images/coming-soon-neon-sign-brick-wall-background-87865865.jpeg");
  width: 100%;
  height: 100%;
  background-size: cover;
}

/* #project4 {
  grid-area: project4;
} */

#contact {
  grid-area: contact;
  background-color: white;
}

#ct1 {
  grid-area: ct1;
}
#ct2 {
  grid-area: ct2;
}

#ct3 {
  grid-area: ct3;
}

.mainGridArea {
  /* height: 170px;
  display: flex;
  flex-direction: column;
  column-gap: 10px; */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;
}

.mainGridArea h2 {
  font-size: 80x;
  margin: 0px 0px;
  color: #ff6200;
  align-items: center;
  justify-content: center;
}

/* .mainGridArea .heading {
  grid-row: 1/2;
} */
.sidetitle {
  background-color: rgba(51, 111, 240, 0.7);
}
/* #bedroom {
  grid-area: bedroom;
  background-image: url("../images/beds@2x.png");
}

#couches {
  grid-area: couches;
  background-image: url("../images/couch@2x.png");
}

#patio {
  grid-area: patio;
  background-image: url("../images/patio@2x.png");
}

#desks {
  grid-area: desks;
  background-image: url("../images/desks@2x.png");
}

.categoryGridArea {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;
} */

.heading {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 15px;
  height: 25px;
  color: white;
  font-size: 18px;
  border-bottom: 5px solid #ff6200;
}

.heading a {
  color: white;
  text-decoration: none;
}

/* Navigation CSS */
/* CHECK OUT THIS CODE BELOW IF YOU WANT TO GET A REFRESHER ON FLEX */

.highlight {
  color: #ff6200;
  font-weight: 700;
}

/* Typography CSS */

h2 {
  font-size: 30px;
  margin: 0px 0px;
  color: #ff6200;
  display: flex;
}

h3 {
  font-size: 32px;
  font-weight: 300;
  margin: 0px 0px;
  text-align: center;
}

h4 {
  color: white;
  font-weight: 400;
  font-size: 22px;
}

#headline p {
  max-width: 350px;
  font-size: 16px;
  font-weight: 300;
  margin: 0px 0px;
  color: #636364;
}

@media only screen and (max-width: 1000px) {
  #navigation {
    display: none;
  }
  .icons {
    margin-left: auto;
  }
}

@media only screen and (max-width: 600px) {
  #headline {
    position: static;
    margin: 20px;
  }
  #heroGrid {
    grid-template-areas:
      "featuredProduct featuredProduct"
      "secondaryProduct CTA";
  }
  #categoryGrid {
    grid-template-rows: 300px 300px 300px 300px 300px;
    grid-template-columns: 80vw;
    grid-template-areas:
      "bookcases"
      "bedroom"
      "patio"
      "couches"
      "desks";
  }
}
